@page
@model EquipmentManagementSystem.Areas.Identity.Pages.Account.RoleManagement.CreateModel
@{
    ViewData["Title"] = "新建角色";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form method="post" role="form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group col">
                        <label class="control-label">角色</label>
                        <input asp-for="Role.Name" class="form-control" />
                        <span asp-validation-for="Role.Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="新建" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-page="Index">返回</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}