table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    font-family: 'Times New Roman',sans-serif;
}

/* 小屏幕table宽度为1450px */
@media (max-width: 1600px) {
    table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 1450px;
        table-layout: fixed;
        font-family: 'Times New Roman',sans-serif;
    }
}

tfoot {
    font-size: 15px;
}

tbody {
    font-size: 15px;
}

    tbody tr:hover {
        background-color: moccasin;
    }

tr.days:hover {
    background-color: white;
}

table tr, th, td {
    border: 1px solid;
}

table th, td {
    text-align: center;
}

tr.update-row {
    background-color: moccasin;
    display: none;
}

td {
    padding: 2px;
}

table#maintenance-record {
    table-layout: initial;
    font-family: 'Times New Roman',sans-serif;
}

tr.title th {
    border: 1px solid #FFF;
}

tr.small-title td {
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
}

td.left {
    width: 7%;
    font-weight: bold;
}

td.maintenance-content, td.operator {
    width: auto;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
}

td.remark {
    text-align: left;
}

td.operator {
}

td.days {
    width: 2.7%;
    height: 40px;
}


/* usage record table 列宽 */
col.time {
    width: 160px;
}

col.projectname {
    width: 75px;
}

col.columnnumber {
    width: 125px;
}

col.mobilephase {
    width: 100px;
}

col.samplenumber {
    width: 85px;
}

col.batchnumber {
    width: 92px;
}

col.column {
    width: 230px;
}

col.ionsource {
    width: 80px;
}

col.detector {
    width: 80px;
}

col.vacuumdegree {
    width: 130px;
}

col.blank {
    width: 75px;
}

col.test {
    width: 75px;
}

col.operator {
    width: 65px;
}

col.remark {
    width: 100px;
}

col.button {
    width: 100px;
}

div.button {
    display: flex;
    justify-content: space-between;
}

input[type="datetime-local"] {
    width: 100%;
    box-sizing: border-box;
}

input#UsageRecord_SampleNumber,
input#usageRecord_SampleNumber {
    width: 100%;
    box-sizing: border-box;
}

input#UsageRecord_SystemOneBatchNumber,
input#usageRecord_SystemOneBatchNumber,
input#UsageRecord_SystemTwoBatchNumber,
input#usageRecord_SystemTwoBatchNumber {
    width: 100%;
    box-sizing: border-box;
}

input#UsageRecord_SystemOneColumnNumber,
input#UsageRecord_SystemTwoColumnNumber,
input#usageRecord_SystemOneColumnNumber,
input#usageRecord_SystemTwoColumnNumber {
    width: 40%;
    box-sizing: border-box;
}

input#UsageRecord_SystemOneColumnPressure,
input#usageRecord_SystemOneColumnPressure,
input#UsageRecord_SystemTwoColumnPressure,
input#usageRecord_SystemTwoColumnPressure {
    width: 30%;
    box-sizing: border-box;
}

input#UsageRecord_LowVacuumDegree,
input#UsageRecord_HighVacuumDegree,
input#usageRecord_LowVacuumDegree,
input#usageRecord_HighVacuumDegree {
    width: 50%;
    box-sizing: border-box;
}

input#UsageRecord_BlankSignal, input#usageRecord_BlankSignal,
input#UsageRecord_SystemOneTestSignal, input#UsageRecord_SystemTwoTestSignal,
input#usageRecord_SystemOneTestSignal, input#usageRecord_SystemTwoTestSignal {
    width: 100%;
    box-sizing: border-box;
    text-align: right;
}

input[name="UsageRecord.Operator"],
input[name="usageRecord.Operator"] {
    width: 100%;
    box-sizing: border-box;
}

input[type="number"] {
    text-align: right;
}

select {
    height: 30px;
}

.select-project {
    width: 100%;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

p.text-vertical {
    margin: 2px auto;
    width: 14px;
    font-size: 14px;
}

@media print {
    @page {
        size: A4 landscape;
        margin-top: 0.7cm;
        margin-bottom: 0.7cm;
    }

    table {
        width: 100%;
        table-layout: fixed;
        font-family: 'Times New Roman',sans-serif;
    }

    thead, tbody, tfoot, th, tr, td {
        break-inside: avoid;
        page-break-inside: avoid;
    }

    colgroup {
        display: none;
    }

    thead {
        font-size: 22px;
    }

    tbody {
        font-size: 20px;
    }

    tfoot {
        font-size: 20px;
    }

    tr.total {
        display: none;
    }

    p.text-vertical {
        font-size: 22px;
    }

    a {
        display: none;
    }

    button {
        display: none !important;
    }

    div.card-title, div.card-tools {
        display: none;
    }

    th.samplenumber, td.samplenumber,
    th.batchnumber, td.batchnumber,
    th.button, td.button {
        display: none;
    }

    tr.view-head, tr#create-row {
        display: none;
    }

    div.remark {
        display: none;
    }

    .hide-in-print {
        display: none;
    }
}

/* 不显示表格标题和注脚、维护记录日期行的数字、使用记录表格的色谱柱，流动相，离子源和检测器信息 */
@media screen {
    tr.title {
        display: none;
        border-bottom: 1px solid #FFF;
    }

    tr.head {
        display: none;
    }

    .hide-in-screen {
        display: none;
    }

    tr.tfoot {
        display: none;
    }

    .columnnumber,
    .mobilephase,
    .ionsource,
    .detector {
        display: none;
    }
}
