table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

tbody tr:hover {
    background: #e9e9e9;
}

table tr, th, td {
    border: 1px solid;
}

table th, td {
    text-align: center;
}

thead th {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* table column width */
th.time {
    width: 190px;
}

th.projectname {
    width: 85px;
}

th.samplenumber {
    width: 85px;
}

th.batchnumber {
    width: 92px;
}

th.vacuumdegree {
    width: 170px;
}

th.columntype {
    width: 230px;
}

th.blank {
    width: 92px;
}

th.test {
    width: 92px;
}

th.remark {
    width: 165px;
}

th.creator {
    width: 65px;
}

th.button {
    width: 100px;
}

tr.update-row {
    background-color: moccasin;
    display: none;
}

input#UsageRecord_LowVacuumDegree,
input#UsageRecord_HighVacuumDegree,
input#usageRecord_LowVacuumDegree,
input#usageRecord_HighVacuumDegree {
    width: 80px;
}

input#UsageRecord_SystemOneColumnNumber,
input#UsageRecord_SystemTwoColumnNumber,
input#usageRecord_SystemOneColumnNumber,
input#usageRecord_SystemTwoColumnNumber {
    width: 80px;
}

input#UsageRecord_BlankSignal,
input#usageRecord_BlankSignal {
    width: 85px;
    text-align: right;
}

input#UsageRecord_SystemOneTestSignal, input#UsageRecord_SystemTwoTestSignal,
input#usageRecord_SystemOneTestSignal, input#usageRecord_SystemTwoTestSignal {
    width: 85px;
    text-align: right;
}

input#UsageRecord_SampleNumber,
input#usageRecord_SampleNumber {
    width: 75px;
}

input#UsageRecord_SystemOneBatchNumber,
input#usageRecord_SystemOneBatchNumber,
input#UsageRecord_SystemTwoBatchNumber,
input#usageRecord_SystemTwoBatchNumber {
    width: 80px;
}

input#UsageRecord_SystemOneColumnPressure,
input#usageRecord_SystemOneColumnPressure,
input#UsageRecord_SystemTwoColumnPressure,
input#usageRecord_SystemTwoColumnPressure {
    width: 80px;
}

input[name="UsageRecord.Creator"],
input[name="usageRecord.Creator"] {
    width: 60px;
}

input[type="datetime-local"] {
    width: 187px;
}

input[type="number"] {
    text-align: right;
}

select {
    height: 30px;
}

textarea {
    width: 163px;
}
