@using Microsoft.AspNetCore.Identity
@using EquipmentManagementSystem.Models
@using EquipmentManagementSystem.Data
@using EquipmentManagementSystem.Authorization

@inject SignInManager<User> signInManager
@inject UserManager<User> userManager

@if (signInManager.IsSignedIn(User))
{

    var isAdmin = User.IsInRole(Constants.AdministratorRole);
    var isDirector = User.IsInRole(Constants.DirectorRole);
    var isManager = User.IsInRole(Constants.ManagerRole);

    if (isAdmin || isDirector || isManager)
    {
        if (isAdmin || isDirector)
        {
            <li class="nav-header">权限管理</li>
            <li class="nav-item">
                <a asp-page="/Account/UserManagement/Index" asp-area="Identity" class="nav-link">
                    <i class="nav-icon fa fa-user"></i>
                    <p>
                        用户管理
                    </p>
                </a>
            </li>
        }

        if (isAdmin)
        {
            <li class="nav-item">
                <a asp-page="/Account/RoleManagement/Index" asp-area="Identity" class="nav-link">
                    <i class="nav-icon fa fa-user-circle"></i>
                    <p>
                        角色管理
                    </p>
                </a>
            </li>
        }

        <li class="nav-header">后台管理</li>
        <li class="nav-item">
            <a asp-page="/Management/Groups/Index" class="nav-link">
                <i class="nav-icon fa fa-circle-o"></i>
                <p>
                    项目组管理
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-page="/Management/Projects/Index" class="nav-link">
                <i class="nav-icon fa fa-circle-o"></i>
                <p>
                    项目管理
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-page="/Management/MalfunctionParts/Index" class="nav-link">
                <i class="nav-icon fa fa-circle-o"></i>
                <p>
                    故障部位管理
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-page="/Management/MalfunctionPhenomenons/Index" class="nav-link">
                <i class="nav-icon fa fa-circle-o"></i>
                <p>
                    故障现象管理
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-page="/Management/MalfunctionReasons/Index" class="nav-link">
                <i class="nav-icon fa fa-circle-o"></i>
                <p>
                    故障原因管理
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-page="/Management/MalfunctionSolutions/Index" class="nav-link">
                <i class="nav-icon fa fa-circle-o"></i>
                <p>
                    解决措施管理
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-page="/Management/MaintenanceContents/Index" class="nav-link">
                <i class="nav-icon fa fa-circle-o"></i>
                <p>
                    维护内容管理
                </p>
            </a>
        </li>
    }
}
