@page
@{
    ViewData["Title"] = "后台管理";
}


<a asp-page="/Management/Projects/Index">
    <input type="button" value="项目管理" class="btn btn-default btn-lg" />
</a>
<a asp-page="/Management/Groups/Index">
    <input type="button" value="项目组管理" class="btn btn-default btn-lg" />
</a>