@page
@model EquipmentManagementSystem.Pages.Asserts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Assert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Assert.ID" />
            <div class="form-group">
                <label asp-for="Assert.InstrumentID" class="control-label"></label>
                <select asp-for="Assert.InstrumentID" class="form-control" asp-items="ViewBag.instrumentId"></select>
                <span asp-validation-for="Assert.InstrumentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assert.Code" class="control-label"></label>
                <input asp-for="Assert.Code" class="form-control" />
                <span asp-validation-for="Assert.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assert.Name" class="control-label"></label>
                <input asp-for="Assert.Name" class="form-control" />
                <span asp-validation-for="Assert.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assert.EntryDate" class="control-label"></label>
                <input asp-for="Assert.EntryDate" class="form-control" />
                <span asp-validation-for="Assert.EntryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assert.SourceUnit" class="control-label"></label>
                <input asp-for="Assert.SourceUnit" class="form-control" />
                <span asp-validation-for="Assert.SourceUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assert.Remark" class="control-label"></label>
                <input asp-for="Assert.Remark" class="form-control" />
                <span asp-validation-for="Assert.Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
