@page
@model EquipmentManagementSystem.Areas.Identity.Pages.Account.UserManagement.EditModel


<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <form method="post" role="form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="userToUpdate.Id" />
                    <div class="form-group">
                        <label asp-for="userToUpdate.Group" class="control-label"></label>
                        <select asp-for="userToUpdate.Group" asp-items="@Model.Groups" class="custom-select">
                            <option value=""></option>
                        </select>
                        <span asp-validation-for="userToUpdate.Group" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="userToUpdate.Name" class="control-label"></label>
                        <input asp-for="userToUpdate.Name" class="form-control" />
                        <span asp-validation-for="userToUpdate.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="userToUpdate.Number" class="control-label"></label>
                        <input asp-for="userToUpdate.Number" class="form-control" />
                        <span asp-validation-for="userToUpdate.Number" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="userToUpdate.Email" class="control-label"></label>
                        <input asp-for="userToUpdate.Email" class="form-control" />
                        <span asp-validation-for="userToUpdate.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Role.Name" class="control-label"></label>
                        <select asp-for="Role.Name" asp-items="@Model.Role.Roles" class="custom-select" required>
                        </select>
                        <span asp-validation-for="Role.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a asp-page="Index"><input type="button" value="返回" class="btn btn-default" /></a>
                        <input type="submit" value="保存" class="btn btn-primary" style="margin-left: 5px;" />
                        <input type="button" value="删除" class="btn btn-outline-danger float-right" data-toggle="modal" data-target="#modal-delete" />
                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade" id="modal-delete">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-danger">警告</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>确认删除该用户？</p>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button id="delete" type="button" class="btn btn-danger">删除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $("#delete").click(function () {
             var options = {};
             options.url = "/Identity/Account/UserManagement/Delete?name=@Model.userToUpdate.UserName&handler=Delete";
             options.type = "POST";

             options.beforeSend = function (xhr) {
                 xhr.setRequestHeader("MY-XSRF-TOKEN",
                     $('input:hidden[name="__RequestVerificationToken"]').val());
             };

             options.success = function () {
             };

             options.error = function () {
                 alert("删除用户失败，请重试！");
             };

            options.complete = function () {
                window.location = "Index";
            };

             $.ajax(options);
         });
    </script>
}