@page
@model EquipmentManagementSystem.Pages.MalfunctionWorkOrders.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MalfunctionWorkOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MalfunctionWorkOrder.ID" />
            @*<div class="form-group">
                    <label asp-for="MalfunctionWorkOrder.InstrumentID" class="control-label"></label>
                    <select asp-for="MalfunctionWorkOrder.InstrumentID" class="form-control" asp-items="ViewBag.InstrumentID"></select>
                    <span asp-validation-for="MalfunctionWorkOrder.InstrumentID" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="MalfunctionWorkOrder.Progress" class="control-label"></label>
                <input asp-for="MalfunctionWorkOrder.Progress" class="form-control" />
                <span asp-validation-for="MalfunctionWorkOrder.Progress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MalfunctionWorkOrder.Creator" class="control-label"></label>
                <input asp-for="MalfunctionWorkOrder.Creator" class="form-control" />
                <span asp-validation-for="MalfunctionWorkOrder.Creator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MalfunctionWorkOrder.CreatedTime" class="control-label"></label>
                <input asp-for="MalfunctionWorkOrder.CreatedTime" class="form-control" />
                <span asp-validation-for="MalfunctionWorkOrder.CreatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
