@page
@model EquipmentManagementSystem.Pages.Malfunctions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Malfunction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Malfunction.InstrumentID" class="control-label"></label>
                <select asp-for="Malfunction.InstrumentID" class="form-control" asp-items="ViewBag.InstrumentOption"></select>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.Field" class="control-label"></label>
                <select asp-for="Malfunction.Field" class="form-control" asp-items="ViewBag.FieldOption"></select>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.BeginTime" class="control-label"></label>
                <input asp-for="Malfunction.BeginTime" class="form-control" />
                <span asp-validation-for="Malfunction.BeginTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.FoundedTime" class="control-label"></label>
                <input asp-for="Malfunction.FoundedTime" class="form-control" />
                <span asp-validation-for="Malfunction.FoundedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.EndTime" class="control-label"></label>
                <input asp-for="Malfunction.EndTime" class="form-control" />
                <span asp-validation-for="Malfunction.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.ReportTime" class="control-label"></label>
                <input asp-for="Malfunction.ReportTime" class="form-control" />
                <span asp-validation-for="Malfunction.ReportTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.FollowUpPeople" class="control-label"></label>
                <input asp-for="Malfunction.FollowUpPeople" class="form-control" />
                <span asp-validation-for="Malfunction.FollowUpPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.PlaceOrderTime" class="control-label"></label>
                <input asp-for="Malfunction.PlaceOrderTime" class="form-control" />
                <span asp-validation-for="Malfunction.PlaceOrderTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.AccessoriesArrivalTime" class="control-label"></label>
                <input asp-for="Malfunction.AccessoriesArrivalTime" class="form-control" />
                <span asp-validation-for="Malfunction.AccessoriesArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.EngineerArrivalTime" class="control-label"></label>
                <input asp-for="Malfunction.EngineerArrivalTime" class="form-control" />
                <span asp-validation-for="Malfunction.EngineerArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.Solutions" class="control-label"></label>
                <input asp-for="Malfunction.Solutions" class="form-control" />
                <span asp-validation-for="Malfunction.Solutions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.Remark" class="control-label"></label>
                <input asp-for="Malfunction.Remark" class="form-control" />
                <span asp-validation-for="Malfunction.Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.Status" class="control-label"></label>
                <select asp-for="Malfunction.Status" class="form-control" asp-items="@Html.GetEnumSelectList<EquipmentManagementSystem.Models.MalfunctionStatus>()"></select>
                <span asp-validation-for="Malfunction.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
