@page
@model EquipmentManagementSystem.Pages.Malfunctions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Malfunction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Malfunction.ID" />

            <div class="form-group">
                <label asp-for="Malfunction.instrumentID" class="control-label"></label>
                <select asp-for="Malfunction.instrumentID" class="form-control" asp-items="ViewBag.instrumentID"></select>
                <span asp-validation-for="Malfunction.instrumentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.componentID" class="control-label"></label>
                <select asp-for="Malfunction.componentID" class="form-control" asp-items="ViewBag.componentID"></select>
                <span asp-validation-for="Malfunction.componentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.Category" class="control-label"></label>
                <input asp-for="Malfunction.Category" class="form-control" />
                <span asp-validation-for="Malfunction.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.Problem" class="control-label"></label>
                <input asp-for="Malfunction.Problem" class="form-control" />
                <span asp-validation-for="Malfunction.Problem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.Reason" class="control-label"></label>
                <input asp-for="Malfunction.Reason" class="form-control" />
                <span asp-validation-for="Malfunction.Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.FoundTime" class="control-label"></label>
                <input asp-for="Malfunction.FoundTime" class="form-control" />
                <span asp-validation-for="Malfunction.FoundTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.StartTrackTime" class="control-label"></label>
                <input asp-for="Malfunction.StartTrackTime" class="form-control" />
                <span asp-validation-for="Malfunction.StartTrackTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.ReportTime" class="control-label"></label>
                <input asp-for="Malfunction.ReportTime" class="form-control" />
                <span asp-validation-for="Malfunction.ReportTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.FollowUpPeople" class="control-label"></label>
                <input asp-for="Malfunction.FollowUpPeople" class="form-control" />
                <span asp-validation-for="Malfunction.FollowUpPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.DebuggingTime" class="control-label"></label>
                <input asp-for="Malfunction.DebuggingTime" class="form-control" />
                <span asp-validation-for="Malfunction.DebuggingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.PlaceOrderTime" class="control-label"></label>
                <input asp-for="Malfunction.PlaceOrderTime" class="form-control" />
                <span asp-validation-for="Malfunction.PlaceOrderTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.AccessoriesArrivalTime" class="control-label"></label>
                <input asp-for="Malfunction.AccessoriesArrivalTime" class="form-control" />
                <span asp-validation-for="Malfunction.AccessoriesArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.EngineerArrivalTime" class="control-label"></label>
                <input asp-for="Malfunction.EngineerArrivalTime" class="form-control" />
                <span asp-validation-for="Malfunction.EngineerArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.Solutions" class="control-label"></label>
                <input asp-for="Malfunction.Solutions" class="form-control" />
                <span asp-validation-for="Malfunction.Solutions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malfunction.Remark" class="control-label"></label>
                <input asp-for="Malfunction.Remark" class="form-control" />
                <span asp-validation-for="Malfunction.Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
