@page
@model EquipmentManagementSystem.Pages.Malfunctions.WorkOrders.CreateModel

@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "新建";
}

<div class="card">
    <div class="card-header">
        <h4>故障工单</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="MalfunctionWorkOrder.InstrumentID" class="control-label"></label>
                        <select asp-for="MalfunctionWorkOrder.InstrumentID" class="form-control select2" asp-items="@Model.InstrumentSelectList" required>
                            <option value="">---请选择---</option>
                        </select>
                        <span asp-validation-for="MalfunctionWorkOrder.InstrumentID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MalfunctionWorkOrder.MalfunctionInfo.Type" class="control-label"></label>
                        <select asp-for="MalfunctionWorkOrder.MalfunctionInfo.Type" class="custom-select select2" asp-items="@Html.GetEnumSelectList<EquipmentManagementSystem.Models.MalfunctionType>()" required>
                            <option value="">---请选择---</option>
                        </select>
                        <span asp-validation-for="MalfunctionWorkOrder.MalfunctionInfo.Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MalfunctionWorkOrder.MalfunctionInfo.Phenomenon" class="control-label"></label>
                        <select asp-for="MalfunctionWorkOrder.MalfunctionInfo.Phenomenon" class="form-control select2" asp-items="@Model.MalfunctionPhenomenonSelectList" required>
                            <option value="">---请选择---</option>
                        </select>
                        <span asp-validation-for="MalfunctionWorkOrder.MalfunctionInfo.Phenomenon" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MalfunctionWorkOrder.MalfunctionInfo.BeginTime" class="control-label"></label>
                        <input asp-for="MalfunctionWorkOrder.MalfunctionInfo.BeginTime" class="form-control" />
                        <span asp-validation-for="MalfunctionWorkOrder.MalfunctionInfo.BeginTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MalfunctionWorkOrder.MalfunctionInfo.FoundedTime" class="control-label"></label>
                        <input asp-for="MalfunctionWorkOrder.MalfunctionInfo.FoundedTime" class="form-control" />
                        <span asp-validation-for="MalfunctionWorkOrder.MalfunctionInfo.FoundedTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MalfunctionWorkOrder.Creator" class="control-label"></label>
                        @{
                            var user = await UserManager.GetUserAsync(User);
                        }
                        <input asp-for="MalfunctionWorkOrder.Creator" value="@user?.Name" class="form-control" required />
                        <span asp-validation-for="MalfunctionWorkOrder.Creator" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input hidden asp-for="MalfunctionWorkOrder.Progress" value="@Models.WorkOrderProgress.Investigating" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MalfunctionWorkOrder.MalfunctionInfo.Remark" class="control-label"></label>
                        <textarea asp-for="MalfunctionWorkOrder.MalfunctionInfo.Remark" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="MalfunctionWorkOrder.MalfunctionInfo.Remark" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="新建" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-page="Index">返回</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
