@page
@model EquipmentManagementSystem.Pages.Malfunctions.Maintain.EditModel

@{
    ViewData["Title"] = "编辑";
}

<div class="invoice p-3 mb-3">
    <h4>故障维修</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Maintenance.ID" />
                <input type="hidden" asp-for="Maintenance.MalfunctionWorkOrderID" />
                <div class="form-group">
                    <label asp-for="Maintenance.Repairer" class="control-label"></label>
                    <input asp-for="Maintenance.Repairer" class="form-control" required />
                    <span asp-validation-for="Maintenance.Repairer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Maintenance.Solution" class="control-label"></label>
                    <input asp-for="Maintenance.Solution" class="form-control" required />
                    <span asp-validation-for="Maintenance.Solution" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Maintenance.IsCritical" /> @Html.DisplayNameFor(model => model.Maintenance.IsCritical)
                    </label>
                    <span asp-validation-for="Maintenance.IsCritical" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Maintenance.Remark" class="control-label"></label>
                    <textarea asp-for="Maintenance.Remark" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Maintenance.Remark" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="Maintenance.FileName" class="control-label"></label>
                    <input type="file" asp-for="FileUpload.FormFile" class="form-control-file" />
                </div>*@
                @if (Model.Maintenance.Attachment == null)
                    {
                        <div class="form-group">
                            <label asp-for="Maintenance.FileName" class="control-label"></label>
                            <input type="file" asp-for="FileUpload.FormFile" class="form-control-file" />
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label asp-for="Maintenance.FileName" class="control-label"></label>
                            ：@Html.DisplayFor(model => model.Maintenance.FileName)
                            <h6>（提示：上传时会覆盖已上传文件）</h6>
                            <input type="file" asp-for="FileUpload.FormFile" class="form-control-file" />
                        </div>
                    }

                <div class="form-group">
                    <input type="submit" value="保存" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="../WorkOrders/Details" asp-route-id="@Model.Maintenance.MalfunctionWorkOrderID">返回</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
