@page
@model EquipmentManagementSystem.Pages.Malfunctions.Maintain.EditModel

@{
    ViewData["Title"] = "编辑";
}

<div class="card">
    <div class="card-header">
        <h4>故障维修</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Maintenance.ID" />
                    <div class="form-group">
                        <label asp-for="Maintenance.BeginTime" class="control-label"></label>
                        <input asp-for="Maintenance.BeginTime" class="form-control" required />
                        <span asp-validation-for="Maintenance.BeginTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Maintenance.EndTime" class="control-label"></label>
                        <input asp-for="Maintenance.EndTime" class="form-control" required />
                        <span asp-validation-for="Maintenance.EndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Maintenance.Repairer" class="control-label"></label>
                        <input asp-for="Maintenance.Repairer" class="form-control" required />
                        <span asp-validation-for="Maintenance.Repairer" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Maintenance.Solution" class="control-label"></label>
                        <input asp-for="Maintenance.Solution" class="form-control" required />
                        <span asp-validation-for="Maintenance.Solution" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="icheck-primary">
                            <input type="checkbox" asp-for="Maintenance.IsCritical" id="check" />
                            <label for="check">
                                @Html.DisplayNameFor(model => model.Maintenance.IsCritical)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Maintenance.FileName" class="control-label"></label>
                        （提示：再次上传时会覆盖原有附件）
                        <input type="file" asp-for="FileUpload.FormFile" class="form-control-file" />
                        <span asp-validation-for="FileUpload.FormFile" class="text-danger"></span>
                        <h6>已上传附件：@Html.DisplayFor(model => model.Maintenance.FileName)</h6>
                    </div>
                    <div class="form-group">
                        <label asp-for="Maintenance.Remark" class="control-label"></label>
                        <textarea asp-for="Maintenance.Remark" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Maintenance.Remark" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="保存" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-page="../WorkOrders/Details" asp-route-id="@Model.Maintenance.MalfunctionWorkOrderID">返回</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
