@page
@model EquipmentManagementSystem.Pages.UsageRecords.EditModel

@{
    ViewData["Title"] = "编辑";
}

<div class="card">
    <div class="card-header">
        <h4>使用记录</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="UsageRecord.Id" />
                    <div class="form-group">
                        <label asp-for="UsageRecord.InstrumentId" class="control-label"></label>
                        <select asp-for="UsageRecord.InstrumentId" class="form-control" asp-items="ViewBag.InstrumentId"></select>
                        <span asp-validation-for="UsageRecord.InstrumentId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UsageRecord.ProjectName" class="control-label"></label>
                        <select asp-for="UsageRecord.ProjectName" class="form-control" asp-items="ViewBag.Project"></select>
                        <span asp-validation-for="UsageRecord.ProjectName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UsageRecord.BeginTimeOfMaintain" class="control-label"></label>
                        <input asp-for="UsageRecord.BeginTimeOfMaintain" class="form-control" />
                        <span asp-validation-for="UsageRecord.BeginTimeOfMaintain" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UsageRecord.ColumnPressure" class="control-label"></label>
                        <input asp-for="UsageRecord.ColumnPressure" class="form-control" />
                        <span asp-validation-for="UsageRecord.ColumnPressure" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UsageRecord.BeginTimeOfTest" class="control-label"></label>
                        <input asp-for="UsageRecord.BeginTimeOfTest" class="form-control" />
                        <span asp-validation-for="UsageRecord.BeginTimeOfTest" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UsageRecord.SampleNumber" class="control-label"></label>
                        <input asp-for="UsageRecord.SampleNumber" class="form-control" />
                        <span asp-validation-for="UsageRecord.SampleNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UsageRecord.TestNumber" class="control-label"></label>
                        <input asp-for="UsageRecord.TestNumber" class="form-control" />
                        <span asp-validation-for="UsageRecord.TestNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UsageRecord.EndTime" class="control-label"></label>
                        <input asp-for="UsageRecord.EndTime" class="form-control" />
                        <span asp-validation-for="UsageRecord.EndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UsageRecord.Creator" class="control-label"></label>
                        <input asp-for="UsageRecord.Creator" class="form-control" />
                        <span asp-validation-for="UsageRecord.Creator" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="保存" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-page="./Index">返回</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
