@page
@inject UserManager<User> UserManager
@model EquipmentManagementSystem.Pages.Records.UsageRecords.CreateModel

@{
    ViewData["Title"] = "新建";
}

<div class="card">
    <div class="card-header">
        <h4>使用登记</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-xl-3">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UsageRecord.ProjectName" class="control-label"></label>
                        <select id="project" asp-for="UsageRecord.ProjectName" class="form-control select2" asp-items="@Model.ProjectsSelectList" required>
                            <option value="">---请选择---</option>
                        </select>
                        <span asp-validation-for="UsageRecord.ProjectName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UsageRecord.InstrumentId" class="control-label"></label>
                        <select id="instrumentId" asp-for="UsageRecord.InstrumentId" class="form-control select2" disabled>
                        </select>
                        <span asp-validation-for="UsageRecord.InstrumentId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button id="fill-latest-record" class="btn btn-primary">填充最新记录</button>
                    </div>

                    @*<div class="form-group">
                            <button class="btn btn-link" id="showSystemOne">
                                <i class="fa fa-plus text-green" aria-hidden="true"></i>
                                输入色谱柱压力
                            </button>
                        </div>
                        <div class="form-group" id="systemOne" hidden>
                            <label asp-for="UsageRecord.ColumnPressure" class="control-label">系统一色谱柱编号/压力/单位</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <input asp-for="UsageRecord.ColumnNumber" class="form-control" placeholder="编号" />
                                </div>
                                <input asp-for="UsageRecord.ColumnPressure" class="form-control" placeholder="压力" />
                                <div class="input-group-append">
                                    <select asp-for="UsageRecord.PressureUnit" class="custom-select" id="SystemOnePressureUnit" asp-items="@Html.GetEnumSelectList<PressureUnit>()">
                                    </select>
                                </div>
                            </div>
                            <span asp-validation-for="UsageRecord.ColumnPressure" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-link" id="showSystemTwo" hidden>
                                <i class="fa fa-plus text-green" aria-hidden="true"></i>
                                输入系统二色谱柱压力
                            </button>
                        </div>
                        <div class="form-group" id="systemTwo" hidden>
                            <label asp-for="UsageRecord.ColumnTwoPressure" class="control-label">系统二色谱柱编号/压力/单位</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <input asp-for="UsageRecord.ColumnTwoNumber" class="form-control" placeholder="编号" />
                                </div>
                                <input asp-for="UsageRecord.ColumnTwoPressure" class="form-control" placeholder="压力" />
                                <div class="input-group-append">
                                    <select class="custom-select" id="SystemTwoPressureUnit">
                                    </select>
                                </div>
                            </div>
                            <span asp-validation-for="UsageRecord.ColumnTwoPressure" class="text-danger"></span>
                        </div>*@
                    <div class="form-group">
                        <label asp-for="UsageRecord.BeginTime" class="control-label"></label>
                        <input asp-for="UsageRecord.BeginTime" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                        <span asp-validation-for="UsageRecord.BeginTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UsageRecord.ClinicSampleNumber" class="control-label"></label>
                        <input asp-for="UsageRecord.ClinicSampleNumber" class="form-control" />
                        <span asp-validation-for="UsageRecord.ClinicSampleNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UsageRecord.BatchSampleNumber" class="control-label"></label>
                        <input asp-for="UsageRecord.BatchSampleNumber" class="form-control" />
                        <span asp-validation-for="UsageRecord.BatchSampleNumber" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                            <label asp-for="UsageRecord.VacuumDegree" class="control-label">真空度大小/单位</label>
                            <div class="input-group">

                                <input asp-for="UsageRecord.VacuumDegree" class="form-control" />
                                <div class="input-group-append">
                                    <select asp-for="UsageRecord.VacuumDegreeUnit" class="custom-select" asp-items="@Html.GetEnumSelectList<VacuumDegreeUnit>()">
                                    </select>
                                </div>
                            </div>
                            <span asp-validation-for="UsageRecord.VacuumDegree" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UsageRecord.BlankSignal" class="control-label"></label>
                            <input asp-for="UsageRecord.BlankSignal" class="form-control" />
                            <span asp-validation-for="UsageRecord.BlankSignal" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UsageRecord.TestSignal" class="control-label"></label>
                            <input asp-for="UsageRecord.TestSignal" class="form-control" />
                            <span asp-validation-for="UsageRecord.TestSignal" class="text-danger"></span>
                        </div>*@
                    <div class="form-group">
                        <label asp-for="UsageRecord.EndTime" class="control-label"></label>
                        <input asp-for="UsageRecord.EndTime" class="form-control" />
                        <span asp-validation-for="UsageRecord.EndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UsageRecord.User" class="control-label"></label>
                        @{
                            var user = await UserManager.GetUserAsync(User);
                        }
                        <input asp-for="UsageRecord.User" value="@user?.Name" class="form-control" required />
                        <span asp-validation-for="UsageRecord.User" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UsageRecord.Remark" class="control-label"></label>
                        <textarea asp-for="UsageRecord.Remark" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="UsageRecord.Remark" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="新建" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-page="../Index">返回</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Records.js" asp-append-version="true"></script>
    <script>
        $('button#fill-latest-record').on('click', function (e) {
            e.preventDefault();
            var projectName = $("#project").val();
            var instrumentId = $("#instrumentId").val();
            $.getJSON(`?handler=FillLatestRecord&projectName=${projectName}&instrumentId=${instrumentId}`,
                (data) => {
                    console.log(data);
                });
        });
    </script>
}
