@page
@inject UserManager<User> UserManager
@model EquipmentManagementSystem.Pages.MaintenanceRecords.CreateModel

@{
    ViewData["Title"] = "新建";
}


<div class="card">
    <div class="card-header">
        <h4>维护登记</h4>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="row">
                <div class="col-12 col-xl-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="MaintenanceRecord.ProjectName" class="control-label"></label>
                        <select id="project" asp-for="MaintenanceRecord.ProjectName" class="custom-select select2" asp-items="@Model.ProjectsSelectList" required>
                            <option value="">---请选择---</option>
                        </select>
                        <span asp-validation-for="MaintenanceRecord.ProjectName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaintenanceRecord.InstrumentId" class="control-label"></label>
                        <select id="instrumentId" asp-for="MaintenanceRecord.InstrumentId" class="custom-select select2" disabled></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaintenanceRecord.BeginTime" class="control-label"></label>
                        <input asp-for="MaintenanceRecord.BeginTime" class="form-control" />
                        <span asp-validation-for="MaintenanceRecord.BeginTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaintenanceRecord.EndTime" class="control-label"></label>
                        <input asp-for="MaintenanceRecord.EndTime" class="form-control" />
                        <span asp-validation-for="MaintenanceRecord.EndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaintenanceRecord.Operator" class="control-label"></label>
                        @{
                            var user = await UserManager.GetUserAsync(User);
                        }
                        <input asp-for="MaintenanceRecord.Operator" value="@user?.Name" class="form-control" />
                        <span asp-validation-for="MaintenanceRecord.Operator" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-xl-7 offset-xl-1">
                    <div class="form-group">
                        <label class="control-label">维护类型</label>
                        <div class="form-row">
                            <div class="col-xl-4 col-12">
                                <div class="form-check mt-2">
                                    <input type="radio" name="MaintenanceType" value="日常维护" id="Daily" class="form-check-input" disabled />
                                    <label for="Daily" class="form-check-label text-bold">日常维护</label>
                                </div>
                            </div>
                            <div class="col-xl-4 col-12">
                                <div class="form-check mt-2">
                                    <input type="radio" name="MaintenanceType" value="周维护" id="Weekly" class="form-check-input" disabled />
                                    <label for="Weekly" class="form-check-label text-bold">周维护</label>
                                </div>
                            </div>
                            <div class="col-xl-4 col-12">
                                <div class="form-check mt-2">
                                    <input type="radio" name="MaintenanceType" value="月度维护" id="Monthly" class="form-check-input" disabled />
                                    <label for="Monthly" class="form-check-label text-bold">月度维护</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-xl-4 col-12">
                                <div class="form-check mt-2">
                                    <input type="radio" name="MaintenanceType" value="季度维护" id="Quarterly" class="form-check-input" disabled />
                                    <label for="Quarterly" class="form-check-label text-bold">季度维护</label>
                                </div>
                            </div>
                            <div class="col-xl-4 col-12">
                                <div class="form-check mt-2">
                                    <input type="radio" name="MaintenanceType" value="年度PM维护" id="Annual" class="form-check-input" disabled />
                                    <label for="Annual" class="form-check-label text-bold">年度PM维护</label>
                                </div>
                            </div>
                            <div class="col-xl-4 col-12">
                                <div class="form-check mt-2">
                                    <input type="radio" name="MaintenanceType" value="临时维护" id="Temporarily" class="form-check-input" disabled />
                                    <label for="Temporarily" class="form-check-label text-bold">临时维护</label>
                                    <div class="form-group" id="TemporarilyContent" hidden>
                                        <textarea asp-for="MaintenanceRecord.Content" class="form-control" rows="3"></textarea>
                                        <span asp-validation-for="MaintenanceRecord.Content" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-1 offset-xl-5">
                    <div class="form-group">
                        <input type="submit" value="新建" class="btn btn-primary btn-block" />
                    </div>
                </div>
            </div>
        </form>
        <div>
            <a asp-page="../Index">返回</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Records.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $(document).ajaxComplete(function () {
                $(`input:radio[value='日常维护']`).click();
            });
        });
    </script>
}
