@page
@model EquipmentManagementSystem.Pages.MaintenanceRecords.EditModel

@{
    ViewData["Title"] = "编辑";
}


<div class="card">
    <div class="card-header">
        <h4>维护记录</h4>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="row">
                <div class="col-12 col-xl-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="MaintenanceRecord.Id" />
                    <div class="form-group">
                        <label asp-for="MaintenanceRecord.ProjectName" class="control-label"></label>
                        <input id="project" asp-for="MaintenanceRecord.ProjectName" class="form-control" readonly />
                        <span asp-validation-for="MaintenanceRecord.ProjectName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaintenanceRecord.InstrumentId" class="control-label"></label>
                        <input id="instrumentId" asp-for="MaintenanceRecord.InstrumentId" class="form-control" readonly />
                        <span asp-validation-for="MaintenanceRecord.InstrumentId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaintenanceRecord.BeginTime" class="control-label"></label>
                        <input asp-for="MaintenanceRecord.BeginTime" class="form-control" />
                        <span asp-validation-for="MaintenanceRecord.BeginTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaintenanceRecord.EndTime" class="control-label"></label>
                        <input asp-for="MaintenanceRecord.EndTime" class="form-control" />
                        <span asp-validation-for="MaintenanceRecord.EndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaintenanceRecord.Operator" class="control-label"></label>
                        <input asp-for="MaintenanceRecord.Operator" class="form-control" />
                        <span asp-validation-for="MaintenanceRecord.Operator" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-xl-7 offset-xl-1">
                    <div class="form-group">
                        <label class="control-label">维护类型</label>
                        <div class="form-row">
                            <div class="col-xl-4 col-12">
                                <div class="form-check mt-2">
                                    <input type="radio" name="MaintenanceType" value="日常维护" id="Daily" class="form-check-input" />
                                    <label for="Daily" class="form-check-label text-bold">日常维护</label>
                                </div>
                            </div>
                            <div class="col-xl-4 col-12">
                                <div class="form-check mt-2">
                                    <input type="radio" name="MaintenanceType" value="周维护" id="Weekly" class="form-check-input" />
                                    <label for="Weekly" class="form-check-label text-bold">周维护</label>
                                </div>
                            </div>
                            <div class="col-xl-4 col-12">
                                <div class="form-check mt-2">
                                    <input type="radio" name="MaintenanceType" value="月度维护" id="Monthly" class="form-check-input" />
                                    <label for="Monthly" class="form-check-label text-bold">月度维护</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-xl-4 col-12">
                                <div class="form-check mt-2">
                                    <input type="radio" name="MaintenanceType" value="季度维护" id="Quarterly" class="form-check-input" />
                                    <label for="Quarterly" class="form-check-label text-bold">季度维护</label>
                                </div>
                            </div>
                            <div class="col-xl-4 col-12">
                                <div class="form-check mt-2">
                                    <input type="radio" name="MaintenanceType" value="年度PM维护" id="Annual" class="form-check-input" />
                                    <label for="Annual" class="form-check-label text-bold">年度PM维护</label>
                                </div>
                            </div>
                            <div class="col-xl-4 col-12">
                                <div class="form-check mt-2">
                                    <input type="radio" name="MaintenanceType" value="临时维护" id="Temporarily" class="form-check-input" />
                                    <label for="Temporarily" class="form-check-label text-bold">临时维护</label>

                                    <div class="form-group pl-3" id="otherContent" hidden>
                                        <label for="other">其他：</label>
                                        <textarea id="other" name="otherMaintenanceContent" class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-1 offset-xl-4">
                    <div class="form-group">
                        <input type="submit" value="保存" class="btn btn-primary btn-block" />
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-12">
                <a asp-page="../Index">返回</a>
                <a class="float-right" asp-page="./Delete" asp-route-id="@Model.MaintenanceRecord.Id">删除</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Records.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            var instrumentId = $('#instrumentId').val();
            var targetType = @Json.Serialize(Model.MaintenanceRecord.Type);
            var selectedContents = @Json.Serialize(Model.MaintenanceRecord.Content?.Split(", " , StringSplitOptions.RemoveEmptyEntries));

            // 获取其他维护内容
            var lastContent = selectedContents[selectedContents.length - 1];
            var otherContent;
            if (lastContent.search(/其他/) >= 0) {
                otherContent = lastContent.split("其他：")[1];
            }

            getMaintenanceContext(instrumentId);
            // 等待getMaintenanceContext的getJson方法完成后只选中目标维护内容
            $(document).ajaxComplete(function () {
                $(`input:checkbox.${targetType}`).each(function (i, item) {
                    $(this).prop("disabled", false);
                    if (selectedContents.includes(item.value)) {
                        $(this).prop("checked", true);
                    }
                });
            });
            if (targetType == "临时维护") {
                $("textarea#other").val(otherContent);
            }
            $(`input:radio[value='${targetType}']`).prop('checked', true);
        });
    </script>
}
