@page
@model EquipmentManagementSystem.Pages.Instruments.EditModel

@{
    ViewData["Title"] = "编辑";
}

<div class="card">
    <div class="card-header">
        <h4>基础信息</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="Instrument.ID" class="control-label"></label>
                            <input asp-for="Instrument.ID" class="form-control" readonly />
                            <span asp-validation-for="Instrument.ID" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Instrument.Platform" class="control-label"></label>
                            <input asp-for="Instrument.Platform" class="form-control" />
                            <span asp-validation-for="Instrument.Platform" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Instrument.Name" class="control-label"></label>
                            <input asp-for="Instrument.Name" class="form-control" />
                            <span asp-validation-for="Instrument.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="Instrument.StartUsingDate" class="control-label"></label>
                            <input asp-for="Instrument.StartUsingDate" class="form-control" />
                            <span asp-validation-for="Instrument.StartUsingDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Instrument.CalibrationCycle" class="control-label"></label>
                            <input asp-for="Instrument.CalibrationCycle" class="form-control" />
                            <span asp-validation-for="Instrument.CalibrationCycle" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Instrument.MetrologicalCharacteristics" class="control-label"></label>
                            <input asp-for="Instrument.MetrologicalCharacteristics" class="form-control" />
                            <span asp-validation-for="Instrument.MetrologicalCharacteristics" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="Instrument.Location" class="control-label"></label>
                            <input asp-for="Instrument.Location" class="form-control" />
                            <span asp-validation-for="Instrument.Location" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Instrument.Principal" class="control-label"></label>
                            <input asp-for="Instrument.Principal" class="form-control" />
                            <span asp-validation-for="Instrument.Principal" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Instrument.NewSystemCode" class="control-label"></label>
                            <input asp-for="Instrument.NewSystemCode" class="form-control" />
                            <span asp-validation-for="Instrument.NewSystemCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="Instrument.Group" class="control-label"></label>
                            <select asp-for="Instrument.Group" class="custom-select" asp-items="@Model.GroupProject">
                                <option value="">---请选择---</option>
                            </select>
                            <span asp-validation-for="Instrument.Group" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Instrument.Projects" class="control-label"></label>
                            <select asp-for="SelectedProject" class="form-control select2" asp-items="@Model.ProjectsSelectList"></select>
                            <span asp-validation-for="Instrument.Projects" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Instrument.Status" class="control-label"></label>
                            <select asp-for="Instrument.Status" class="custom-select">
                                <option value="正常">正常</option>
                                <option value="故障">故障</option>
                                <option value="停用">停用</option>
                                <option value="调拨">调拨</option>
                                <option value="报废">报废</option>
                            </select>
                            <span asp-validation-for="Instrument.Status" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Instrument.Remark" class="control-label"></label>
                        <textarea asp-for="Instrument.Remark" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Instrument.Remark" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="保存" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-page="./Details" asp-route-id="@Model.Instrument.ID">返回</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
