@page
@model ManualModel
@{
    ViewData["Title"] = "使用说明";
}

@*<embed src="/manual/设备管理平台使用手册.pdf" type="application/pdf" width="1000" height="750" />*@
<object type="application/pdf"
        data="/manual/设备管理平台使用手册.pdf"
        width="1400"
        height="700">
    当前浏览器不支持查看该手册，请<a href="~/manual/设备管理平台使用手册.pdf">下载</a>后查看。
</object>
