@page
@model EquipmentManagementSystem.Pages.Instruments.EditModel

@{
    ViewData["Title"] = "编辑";
}

<h1>编辑</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Instrument.ID" />
            <div class="form-group">
                <label asp-for="Instrument.CreatedDate" class="control-label"></label>
                <input asp-for="Instrument.CreatedDate" class="form-control" />
                <span asp-validation-for="Instrument.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrument.Platform" class="control-label"></label>
                <input asp-for="Instrument.Platform" class="form-control" />
                <span asp-validation-for="Instrument.Platform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrument.Name" class="control-label"></label>
                <input asp-for="Instrument.Name" class="form-control" />
                <span asp-validation-for="Instrument.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrument.StartUsingDate" class="control-label"></label>
                <input asp-for="Instrument.StartUsingDate" class="form-control" />
                <span asp-validation-for="Instrument.StartUsingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrument.CalibrationCycle" class="control-label"></label>
                <input asp-for="Instrument.CalibrationCycle" class="form-control" />
                <span asp-validation-for="Instrument.CalibrationCycle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrument.MetrologicalCharacteristics" class="control-label"></label>
                <input asp-for="Instrument.MetrologicalCharacteristics" class="form-control" />
                <span asp-validation-for="Instrument.MetrologicalCharacteristics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrument.Status" class="control-label"></label>
                <select asp-for="Instrument.Status" class="form-control">
                    <option value="0">正常</option>
                    <option value="1">故障</option>
                    <option value="2">停用</option>
                    <option value="3">调拨</option>
                    <option value="4">报废</option>
                </select>
                <span asp-validation-for="Instrument.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrument.Location" class="control-label"></label>
                <input asp-for="Instrument.Location" class="form-control" />
                <span asp-validation-for="Instrument.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrument.Principal" class="control-label"></label>
                <input asp-for="Instrument.Principal" class="form-control" />
                <span asp-validation-for="Instrument.Principal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrument.Remark" class="control-label"></label>
                @* <input asp-for="Instrument.Remark" class="form-control" /> *@
                <textarea asp-for="Instrument.Remark" class="form-control"></textarea>
                <span asp-validation-for="Instrument.Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">返回</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
