@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @*<li class="nav-item">
                    <a id="manage" class="nav-link text-dark" title="@User">你好， @UserManager.GetUserAsync(User).Result.Name！</a>
            </li>*@

        <li class="nav-item dropdown">
            <a class="nav-link text-dark" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                @UserManager.GetUserAsync(User).Result.Name <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
                <a href="#" class="dropdown-item">
                    <span class="">
                        级别：@(UserManager.GetRolesAsync(UserManager.GetUserAsync(User).Result).Result[0])
                    </span>
                </a>
                @if (!string.IsNullOrEmpty(UserManager.GetUserAsync(User).Result.Group))
                {
                    <a href="#" class="dropdown-item">
                        <span class="">
                            项目组：@UserManager.GetUserAsync(User).Result.Group
                        </span>
                    </a>
                }
                <div class="dropdown-divider"></div>
                <a asp-area="Identity" asp-page="/Account/UserManagement/ChangePassword" class="dropdown-item">
                    修改密码
                </a>
            </div>
        </li>

        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">退出</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">登录</a>
        </li>
    }
</ul>
