@page
@model EquipmentManagementSystem.Pages.Management.Projects.CreateModel

@{
    ViewData["Title"] = "新建项目";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Project.GroupId" class="control-label"></label>
                        <select asp-for="Project.GroupId" class="form-control" asp-items="@Model.GroupSelectList">
                        </select>
                        <span asp-validation-for="Project.GroupId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.Name" class="control-label"></label>
                        <input asp-for="Project.Name" class="form-control" />
                        <span asp-validation-for="Project.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.SimpleTestTime" class="control-label"></label>
                        <input asp-for="Project.SimpleTestTime" class="form-control" />
                        <span asp-validation-for="Project.SimpleTestTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.ColumnType" class="control-label"></label>
                        <input asp-for="Project.ColumnType" class="form-control" />
                        <span asp-validation-for="Project.ColumnType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="新建" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-page="Index">返回</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
