@page
@model EquipmentManagementSystem.Pages.Management.Projects.IndexModel

@{
    ViewData["Title"] = "项目管理";
}

<div class="card col-md-6 height-control">
    <h4 class="card-header">
        项目
        <a asp-page="Create">
            <input type="button" class="btn btn-outline-primary btn-sm" value="新建" style="margin-left: 10px;" />
        </a>
    </h4>
    <div class="card-body">
        <table class="table table-sm text-nowrap">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Project[0].Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Project)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">编辑</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


